extends layout/layout

block content
	.main
		.container
			h4.title
				//- | Meu perfil 
				a.edit-profile(href="/profile/edit") Editar

			.row
				//- Pic and  general information
				.col-md-3.info-general
					//- Contact, pic and other basics info's
					.info-general-basic
						if user
							.col-s12
								p.bold.text-center #{user.name}
								if (!user.det.prof)
									p.text-center: i Profissao
								else
									p.text-center #{user.det.prof}
								.divider
								
								if (!user.localidade.cid)
									p: i Cidade
								else
									p #{user.localidade.cid}
							.col-s12
								if (!user.local.email)
									p: i Email
								else
									p #{user.local.email}
							
							.col-s12
								if (!user.cont.cel)
									p: i Celular
								else
									p #{user.cont.cel}

					
					//- Skill info's
					.info-general-skill
							h5.text-center.title Skills
							if user
								-var n=0
								while n < 5
									.col-s12
										p #{user.det.habil[n++].name}
								.col-s12
									p ...



				//- Forum information
				.col-md-8.forum-general.bg-white
					p Section coming soon
